clicker-list {
  .copyright {
    // requirement 2
    text-align: right;
    margin-right: 5%;

    // requirement 3
    font-style: italic;
    font-size: smaller;
    a {
      text-decoration: none;
    }
  }

  // extra points
  .copyright:before {
    content: ":: ";
    font-style: normal;
  }
}